body {
color:white;
background:darkred;
margin: 2px
 } 
 body{
    font-family: "Oswald", serif;
}
body{
    margin-bottom:100px;
}

header {
border-bottom: solid 4px black;
padding: 18px;
font-size: 34px;
color:black;
}

.chamada{
background: rgb(41,32,72);
padding-bottom:80px;
padding-top:80px;
display: flex;
justify-content:center;
}
.chamada-texto{
margin-right: 5%;
}

h1{
    font-size: 43px;
}

p{
    font-size: 30px;
}


.categoria-videos{ 
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria{
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 50px;
}

.categoria-videos img{
opacity: 0.5;
height:200px;
}
.categoria-videos img:hover {
opacity:1.0;
border: 3px solid white;
}
.categoria h2{
    color: black;
    font-size: 30;
}

.aprofundar{
    display: flex;
    overflow-x:auto;
    gap: 15px;
}
.aprofundando{
    padding-left: 18px;
    padding-right: 18px;
    margin-top:50px;
}
.aprofundar img{
    opacity: 0.5;
    height: 200px;
}
.aprofundar img:hover{
    opacity:1.0;
    border: 3px solid white;
}
.aprofundando h3{
    color: black;
    font-size: 30;
}